{% extends 'wechat/blogbase.html' %}


{% block content %}

    {% for blog in blogs %}
        <div class="row">
            <h3>
                <a href="{% url 'wechat:blog' blog.id blog.title %}">{{ blog.title }}</a>
            </h3>
        </div>
    {% endfor %}

    <nav aria-label="Page navigation">
      <ul class="pagination">
        <li>
          <a href="{% url 'wechat:blogs' 1 %}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
          {% if prePage %}
            <li><a href="{% url 'wechat:blogs' prePage %}">上一页</a></li>
          {% endif %}
          <li><a href="#">{{curPage}}</a> </li>
          {% if nextPage %}
            <li><a href="{% url 'wechat:blogs' nextPage %}">下一页</a> </li>
          {% endif %}
          <li>
          <a href="{% url 'wechat:blogs' latestPage %}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>

{% endblock %}
{% block footer %}
{% endblock %}