{% extends 'wechat/userbase.html' %}


{% block content %}
    <div class="row">
    {% for account in accounts %}
        <div class="col-xs-4">
            <div class="row">
                <div class="col-xs-4">
                    <img src="{{account.avatar_url}}" width="102" height="102">
                </div>
                <div class="col-xs-8">
                    <a href="{% url 'wechat:userPage' account.vAccount account.vName %}">{{account.vName}}</a>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>

    <nav aria-label="Page navigation">
      <ul class="pagination">
        <li>
          <a href="{% url 'wechat:alluser' 1 %}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
          {% if prePage %}
            <li><a href="{% url 'wechat:alluser' prePage %}">上一页</a></li>
          {% endif %}
          <li><a href="#">{{curPage}}</a> </li>
          {% if nextPage %}
            <li><a href="{% url 'wechat:alluser' nextPage %}">下一页</a> </li>
          {% endif %}
          <li>
          <a href="{% url 'wechat:alluser' latestPage %}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>

{% endblock %}